/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
    --primary: #62b1f2;
    --error: #e7195a;
    --bg-error: #5c1a1a; /* ciemny czerwony dla błędów */
    --bg-color: #1a1a1a; /* ciemne tło */
    --header-bg: #333; /* ciemne tło nagłówka */
    --header-anchor: #ccc; /* jasny kolor dla linków w nagłówku */
    --details-p: #aaa; /* jasny kolor dla tekstu szczegółów */
    --input-border: #555; /* ciemny kolor dla obramowania inputów */
}

.form {
    color: var(--header-anchor);
    font-size: 1em;
    margin: 20px 0;
}

body {
    background: var(--bg-color);
    margin: 0;
    font-family: "Poppins";
}
header {
    background: var(--header-bg);
}
header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header a {
    color: var(--header-anchor);
    text-decoration: none;
}
.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

/* homepage */
.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}
.workout-details {
    background: var(--header-bg);
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}
.workout-details p {
    margin: 0;
    font-size: 0.9em;
    color: var(--details-p);
}
.workout-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: var(--bg-color);
    padding: 6px;
    border-radius: 50%;
    color: var(--header-anchor);
}

.workout-details .update-button {
    text-align: center;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 25px;
    cursor: pointer;
    background: var(--bg-color);
    padding: 6px;
    border-radius: 50%;
    color: var(--header-anchor);
}

/* new workout form */
label,
input {
    display: block;
}
input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
}
form button {
    background: var(--primary);
    border: 0;
    color: var(--header-bg);
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
}
div.error {
    padding: 10px;
    background: var(--bg-error);
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
}
input.error {
    border: 1px solid var(--error);
}

/* navbar */
nav {
    display: flex;
    align-items: center;
}
nav a {
    margin-left: 10px;
}
nav button {
    background: var(--header-bg);
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
    margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: var(--header-bg);
    border-radius: 4px;
    color: var(--header-anchor);
}

span {
    color: var(--primary);
    cursor: pointer;
}
